<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
   
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    fxfill>

  <div fxFlex="60">
    <div fxFlex *ngIf="dish" >
      <mat-card >
        <mat-card-header>
          <mat-card-title><h3>{{dish.name | uppercase}}</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-img src={{dish.image}} alt="{{dish.name}}">
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack()">Go Back</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <h2>Comments</h2>
      </mat-card-header>     
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matLine>-{{ comment.comment }}</p>
        <p matLine>-{{ comment.rating }} Stars</p>
        <p matLine>-{{ comment.author }} {{ comment.date | date }}</p>
        <br>
      </mat-list-item>
      
    </mat-card>
  </div>

</div>





